.wrapper {
  display: grid;
  grid-template-columns: 16rem 1fr;
  align-items: flex-start;
  gap: 2rem;
  max-width: 70rem;
  margin: 2rem auto;
  padding: 0 1rem;
}

@media (max-width: 768px) {
  html {
    font-size: 87.6%;
  }

  .wrapper {
    grid-template-columns: 1fr;
  }
}