:root {
    --grey-700: #0D0D0D;
    --grey-600: #1A1A1A;
    --grey-500: #262626;
    --grey-400: #333333;
    --grey-300: #808080;
    --grey-200: #D9D9D9;
    --grey-100: #F2F2F2;

    --purple: #8284FA;
    --purple-dark: #5E60CE;
    --blue: #4EA8DE;
    --blue-dark: #1E6F9F;

    --danger: #E25858;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body , input, button {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 140%;
}

body {
  background: var(--grey-600);
  color: var(--grey-100);
}

:focus {
  outline: .18rem solid var(--purple-dark);
}

#root {
  height: 100vh;
}

.content {
  max-width: 46rem;
  margin: -1.687rem auto 0;
}

.content form {
  display: flex;
  gap: .5rem;
  margin-bottom: 4rem;
}

.content form input {
  flex: 10;
  background: var(--grey-500);
  color: var(--grey-300);
  padding: 1rem;
  border: .06rem solid var(--grey-700);
  border-radius: .75rem;
}

.content form button {
  flex: 1;
  display: flex;
  align-items: center;
  gap: .5rem;
  background: var(--blue-dark);
  color: var(--grey-100);
  padding: 1rem;
  border: none;
  border-radius: .75rem;
  font-weight: 700;
  transition: background .4s ease-out;
  cursor: pointer;
}

.content form button:not(:disabled):hover {
  background: var(--blue);
}

.content form button:disabled {
  filter: brightness(.5);
  cursor: not-allowed;
}

.header-todos {
  display: flex;
  justify-content: space-between;
}

.created-todos strong {
  color: var(--blue);
}

.completed-todos strong {
  color: var(--purple);
}

.created-todos strong, .completed-todos strong {
  margin-right: .5rem;
  font-size: .875rem;
  line-height: 1.06rem;
}

.created-todos span, .completed-todos span {
  background: var(--grey-400);
  color: var(--grey-200);
  padding: .12rem .5rem;
  border-radius: 9999rem;
  font-size: .75rem;
  font-weight: 700;
  line-height: .875rem;
}