.todo {
  display: flex;
  align-items: flex-start;
  gap: .75rem;
  background: var(--grey-500);
  padding: 1rem;
  border: .06rem solid var(--grey-400);
  border-radius: .5rem;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, .06);
}

.todo button {
  cursor: pointer;
  line-height: 0;
}

.checkboxWrapper {
  flex: 1;
  display: flex;
  gap: .75rem;
  background: transparent;
  border: none;
}

.checkboxWrapper:focus {
  outline: none;
}

.checkboxWrapper:focus-within .checkbox {
  outline: .18rem solid var(--purple-dark);
}

.checkboxWrapper .checkbox {
  background: transparent;
  padding: .5rem;
  border: 2px solid var(--blue);
  border-radius: 9999rem;
}

.checkboxWrapper.checked .checkbox {
  background: var(--purple-dark);
  color: #FFF;
  padding: 0;
  border-color: transparent;
}

.checkboxWrapper p {
  color: var(--grey-100);
  font-size: .875rem;
  line-height: 1.25rem;
  text-align: start;
}

.checkboxWrapper.checked p {
  color: var(--grey-300);
  text-decoration: line-through;
}

.todo button:last-of-type {
  flex: 0;
  background: transparent;
  color: var(--grey-300);
  border: none;
  border-radius: .5rem;
}

.todo button:last-of-type:hover {
  color: var(--danger);
}