.content {
  max-width: 46rem;
  margin: -1.687rem auto 0;
}

.content form {
  display: flex;
  gap: .5rem;
  margin-bottom: 4rem;
}

.content form input {
  flex: 10;
  background: var(--grey-500);
  color: var(--grey-300);
  padding: 1rem;
  border: .06rem solid var(--grey-700);
  border-radius: .75rem;
}

.content form button {
  flex: 1;
  display: flex;
  align-items: center;
  gap: .5rem;
  background: var(--blue-dark);
  color: var(--grey-100);
  padding: 1rem;
  border: none;
  border-radius: .75rem;
  font-weight: 700;
  transition: background .4s ease-out;
  cursor: pointer;
}

.content form button:not(:disabled):hover {
  background: var(--blue);
}

.content form button:disabled {
  filter: brightness(.5);
  cursor: not-allowed;
}

.headerTodos {
  display: flex;
  justify-content: space-between;
}

.createdTodos strong {
  color: var(--blue);
}

.completedTodos strong {
  color: var(--purple);
}

.createdTodos strong, .completedTodos strong {
  margin-right: .5rem;
  font-size: .875rem;
  line-height: 1.06rem;
}

.createdTodos span, .completedTodos span {
  background: var(--grey-400);
  color: var(--grey-200);
  padding: .12rem .5rem;
  border-radius: 9999rem;
  font-size: .75rem;
  font-weight: 700;
  line-height: .875rem;
}

.todoList {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  margin-top: 1.5rem;
}